<br>
<h1 align="right">Debug#index&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
<br>
<hr>

<h3><%= @dishes.count %> Dishes in DB</h3>


<br><br><br>
<br><br><br>
<br><br><br>

<%= console %>