<br>
<h1 align="right">Is It Vegan?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
<br>
<hr>


<form action="/search" method="get">
  <input id="q" name="q" type="text" /><br>
  <input name="commit" type="submit" value="Search" />
</form>

<br><br>
<hr>
<br><br>

<center>
	<h2>What do you feel like eating?</h2><br>
	<form action="/home/index" method="get">
		<input type="text"><br><br>
		<input type="submit" value="Is It Vegan?">
	</form>
</center>