<br>
<h1 align="right">Is It Vegan?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
<br>
<hr>

<div align="center">
     <h2>You Hungry?</h2>
     <h2>Why Not Try Some Fucking</h2>
     <h3>
     	<a href= <%= @rand_dish.url %> target="blank" ><%= @rand_dish.name %></a>
     </h3>
     <%= button_to "I Don't Fucking Like That", root_path, :method => :get %>
</div>